<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema de Gestão de Alunos</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
  <section class="container">
    <h1>Sistema de gestão de Alunos</h1>

    <section class="options-container">
      <div class="links">
        <a class="link" th:href="@{/alunos}">Alunos</a>
        <a class="link" th:href="@{/cursos}">Cursos</a>
      </div>      
      <p class="subtitle">Escolha uma opção</p>
    </section>
    
  </section>
  
</body>
</html>